* {
  font-size: 12px;
}


  .symbol-table tbody td {
    position: relative;
  }

  .symbol-table tbody tr:hover{
    background-color: #f0f3fa;
  }

.table-container {
  max-height: 35rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.watchlist-submit {
  font-size: 20px;
  height: 24px;
  width: 24px;
  justify-content: center;
  font-family: 'Courier New';
  font-weight: 100;
  display: flex;
  align-items: center;
}
.watchlist-submit:hover {
  background-color: #f0f3fa;
}
  .symbol-table .btn-close {
    visibility: hidden;
    /* position: absolute;
    right: 50%; */
  }

  .symbol-table tr:hover .btn-close{
    visibility: visible;
    background-color: #f0f3fa;
  }
  .symbol-table tr:hover .btn-close:hover{
    background-color: #e4e6ed;
  }

  .watchlist-names {
    max-height: 10rem;
    overflow-y: auto;
  }

  .symbol-table tr {
    font-size: 12px;
  }

  .navbar {
    font-size: 14px;
  }

  #navbarDropdownMenuLink:hover {
    background-color: #f0f3fa;
  }

.watchlist-names li {
  position: relative;
}

.watchlist-names li .btn-close{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom:0;
  margin:  auto 0;
}

.watchlist-names li:hover .btn-close{
  display: block;
}

#symbolList tr td:nth-child(2),
#symbolList tr td:nth-child(3),
#symbolList tr td:nth-child(4),
#myTable thead tr th:nth-child(2),
#myTable thead tr th:nth-child(3),
#myTable thead tr th:nth-child(4){
  text-align: right;
}

.price_green {
  color: #22ab94;
}

.price_red {
  color: #f23645;
}


::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f0f3fa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e4e6ed;
}


.navbar div:nth-child(2) > div {
  margin-left: 0.5rem;
}

.hidden {
  visibility: hidden;
}

.sortsvg {
  display: inline-block;
  height: 12px;
}

.sort-button:hover{
  background-color: #e4e6ed;
}

.selected-symbol{
  background-color: #e4e6ed;
}